body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background-color:#1d0740;
    color: rgb(223, 206, 206);
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

form {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#registerButton {
    background-color: #4CAF50;
}

#cancelButton {
    background-color: #f44336;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #150b49;
    color: white;
}
